{
  "boxedView": false,
  "companion": {
    "enabled": true,
    "color": "accent",
    "type": "dog",
    "types": [
      {
        "typeName": "cat",
        "top": " /\\,/\\ "
      },
      {
        "typeName": "dog",
        "top": " /),(\\ "
      },
      {
        "typeName": "bunny",
        "top": " (\\,/) "
      }
    ]
  }
}
